<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.MileageWalletMapper">

    <select id="getWallet" resultType="MileageWalletVO">
        SELECT member_id, mileage
        FROM mileage_wallet
        WHERE member_id = #{member_id}
    </select>

    <insert id="createWallet">
        INSERT INTO mileage_wallet(member_id, mileage)
        VALUES (#{member_id}, 0)
    </insert>

    <update id="updateMileage">
        UPDATE mileage_wallet
        SET mileage = #{mileage}
        WHERE member_id = #{member_id}
    </update>

</mapper>