<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.SaleTradeMapper">
	<select id="selectSaleTradeList" resultType="SaleTradeVO">
        SELECT
            s.trade_id,
            s.seller_id,
            s.title,
            s.price_point,
            s.max_mileage_use,
            s.quantity,
            s.thumb_img,
            s.recommend_cnt,
            s.status,
            s.regdate,

            s.allow_full_mileage,

            m.nickname AS seller_nickname,
            t.toplct_name

        FROM saletrade_board s
        JOIN member m
            ON s.seller_id = m.member_id
        JOIN top_location t
            ON s.toplct_id = t.toplct_id

        WHERE
            s.is_deleted = 'N'
            AND m.enable_flag = '1'
            AND m.deleted_at IS NULL
            AND m.seller_status = 'Y'

        ORDER BY s.regdate DESC
    </select>
</mapper>