<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mapper.TopLocationMapper">
	<select id="selectListLocation" resultType="TopLocation">
		select toplct_id, toplct_name 
		from top_location 
		order by toplct_name asc 
	</select>	
</mapper>